<div class="max-w-screen-xl mx-auto">
  <article class='w-full pt-36 relative rounded-b-[2.3rem] px-6 py-20 gap-5 grid grid-cols-1 lg:px-3 xl:px-8 items-center'>
    <img src="assets/icons/Map.svg" class="absolute object-cover drop-shadow-sm inset-0 -z-10 size-full [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)] stroke-gray-200" alt="">
     <div class="w-full text-center px-4 md:px-12">
        <h2 class="text-[40px] font-bold text-center md:text-6xl leading-tight lg:text-6xl lg:mb-4">
          Condiciones generales de uso
        </h2>
     </div>
  </article>
  <div class="w-10/12 m-auto font-normal grid grid-cols-1 gap-y-7 py-14">
    <p class="text-lg  text-gray-500 whitespace-normal ">
      MARKETING GLOBAL ("Nosotros") es una empresa española que opera a través del sitio web https://quickgeo.netlify.app/ ("Sitio") un servicio basado en la localización que permite a cualquier persona física que actúe a título particular ("Cliente" o "Usted") localizar un teléfono móvil con el consentimiento previo del propietario del número de teléfono cuya localización se busca ("Servicio").
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      El propósito de estos términos y condiciones ("Términos y Condiciones") es explicar cómo Usted, como Cliente, puede beneficiarse del Servicio.
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      El propósito de estas Condiciones Generales es explicar cómo Usted, como Cliente, puede beneficiarse del Servicio.
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      Nuestros Términos y Condiciones podrán ser actualizados y/o complementados a intervalos regulares a medida que evolucionen, en cuyo caso le informaremos por correo electrónico un mes antes de su revisión. El acceso y uso de Nuestro Servicio después de que Usted haya sido informado de cualquier cambio de este tipo, y el hecho de no cancelar su suscripción antes de que finalice el mes, constituirá la aceptación de la versión más reciente de dichos Términos y Condiciones.
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      Esta versión de las Condiciones Generales se encuentra en fase de desarrollo.
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      Esta versión de Nuestras condiciones generales se actualizó por última vez el 19 de enero de 2022.
    </p>
    <div  class="grid grid-cols-1 gap-y-7">
      <h2 class="text-4xl/6 font-bold text-gray-900 dark:text-white mt-5 mb-5">1. Inscripción inicial</h2>
      <ol class="w-full space-y-7 list-none text-gray-500 list-inside [&>li>p]:text-lg  [&>li>p]:text-gray-500 [&>li>p]:whitespace-normal">
          <li>
            <p>1.1 El acceso y uso de Nuestro Servicio está sujeto al establecimiento de una cuenta en Nuestro Sitio ("Cuenta").</p>
          </li>
          <li class="grid grid-cols-1 gap-6">
            <p>1.2 En el momento de la inscripción se solicitará la siguiente información</p>
            <ul class="list-disc ml-10 text-lg">
              <li>Dirección de correo electrónico</li>
              <li>Contraseña</li>
            </ul>
            <p>Como Cliente, Usted nos garantiza la exactitud, veracidad y fiabilidad de la información que nos proporciona, así como el hecho de que es mayor de edad y está autorizado a suscribirse a Nuestro Servicio en su país de residencia.</p>
            <p>Llamamos su atención sobre el hecho de que, en caso de usurpación de identidad, nos reservamos el derecho a utilizar todas las medidas legales contra usted, incluida la legislación penal.</p>
            <p>No hay contrato de afiliación.</p>
          </li>
          <li>
            <p>1.4 El establecimiento de una cuenta da acceso al uso de nuestra plataforma únicamente al Cliente que ha establecido la cuenta. Como Cliente, está obligado a mantener en secreto sus datos de acceso al Servicio (nombre de usuario y contraseña) y a informarnos de cualquier uso no autorizado. El acceso no podrá transferirse a terceros sin nuestro consentimiento previo.</p>
          </li>
          <li>
            <p>1.5 Nuestro Servicio sólo es accesible a las personas que lo utilizan por motivos personales. Cualquier uso con fines comerciales está estrictamente prohibido y dará lugar a la cancelación inmediata de su afiliación y, por extensión, de su capacidad para acceder y utilizar nuestro servicio, sin previo aviso y sin derecho a reembolso.</p>
          </li>
      </ol>
    </div>
    <div  class="grid grid-cols-1 gap-y-7">
      <h2 class="text-4xl/6 font-bold text-gray-900 dark:text-white mt-5 mb-5">2. Pago</h2>
      <ol class="w-full space-y-7 list-none text-gray-500 list-inside [&>li>p]:text-lg  [&>li>p]:text-gray-500 [&>li>p]:whitespace-normal">
          <li class="grid grid-cols-1 gap-6">
            <p>2.1 Las tarifas del Servicio son las siguientes:</p>
            <ul class="list-disc ml-10 text-lg">
              <li>Durante las primeras 24 horas tras el registro, el Cliente tiene derecho a probar Nuestro Servicio por un importe de 0.50 € (cincuenta céntimos) ("Periodo de Prueba") - Al final de estas 24 horas, sin perjuicio de la rescisión dentro de este periodo, se contrata automáticamente una suscripción con carácter mensual por un importe de 47.90 € (cuarenta y siete euros con noventa céntimos). A reserva de cancelación, esta suscripción se renueva automáticamente de mes en mes y se carga automáticamente en la tarjeta utilizada.</li>
            </ul>
          </li>
          <li>
            <p>2.2 Los precios indicados incluyen todos los impuestos.</p>
          </li>
          <li>
            <p>2.3 El pago se realiza mediante tarjeta de crédito en nuestro sitio web en euros (Visa, MasterCard, American Express). El Sitio Web está equipado con un sistema de seguridad de pago en línea que encripta la transferencia de la información bancaria del Cliente. Como parte de nuestro proceso de pago, utilizamos un proveedor externo, Stripe, y no almacenamos ninguna información sobre los datos y números de su tarjeta de crédito. Consulte nuestra política de privacidad para obtener más información.</p>
          </li>
      </ol>
    </div>
    <div  class="grid grid-cols-1 gap-y-7">
      <h2 class="text-4xl/6 font-bold text-gray-900 dark:text-white mt-5 mb-5">3. Derecho de retractación</h2>
      <ol class="w-full space-y-7 list-none text-gray-500 list-inside [&>li>p]:text-lg  [&>li>p]:text-gray-500 [&>li>p]:whitespace-normal">
          <li class="grid grid-cols-1 gap-6">
            <p>3.1 Tiene derecho a rescindir el contrato en un plazo de 2 (dos) días a partir de la recepción de la confirmación tras la conclusión del periodo de prueba.</p>
            <p>Se trata de una solicitud de retirada.</p>
          </li>
          <li>
            <p>3.2 Esta solicitud de retirada puede presentarse enviándonos un correo electrónico con los detalles de la solicitud. Se enviará un correo electrónico de confirmación de la retirada a la dirección de correo electrónico que proporcionó al registrarse.</p>
          </li>
          <li>
            <p>3.3 Una vez que haya ejercido su derecho de desistimiento, se le reembolsará el importe abonado a la tarjeta que utilizó para pagar el Servicio en un plazo de 5 a 10 días laborables a partir de la recepción de su solicitud de desistimiento. Este derecho al reembolso está sujeto a la condición de que Usted no haya utilizado Nuestro Servicio después del Período de Prueba; si Usted ha utilizado Nuestro Servicio después del Período de Prueba, Usted entiende que no se efectuará ningún reembolso por el mes en curso, y que su derecho de desistimiento será tratado como una solicitud de rescisión, efectiva al final del mes en cuestión.</p>
          </li>
          <li>
            <p>3.4 Si está domiciliado en Suiza, el derecho de desistimiento establecido en el presente artículo 3 no será de aplicación y cualquier solicitud de ejercicio de este derecho se interpretará como una solicitud de resolución del contrato sin pago.</p>
          </li>
      </ol>
    </div>
    <div  class="grid grid-cols-1 gap-y-7">
      <h2 class="text-4xl/6 font-bold text-gray-900 dark:text-white mt-5 mb-5">4. Cómo funciona el servicio</h2>
      <ol class="w-full space-y-7 list-none text-gray-500 list-inside [&>li>p]:text-lg  [&>li>p]:text-gray-500 [&>li>p]:whitespace-normal">
          <li>
            <p>4.1 Una vez suscrito el contrato de suscripción, sólo tiene que indicar el número del teléfono móvil que desea geolocalizar ("Destinatario"). A continuación, se envía un SMS al Destinatario con el mensaje que el Cliente habrá escrito previamente y especificando su deseo de geolocalizar el teléfono móvil en cuestión. El destinatario podrá aceptar o rechazar esta solicitud a su entera discreción. Usted reconoce que no podemos garantizar que los Destinatarios acepten su solicitud de geolocalización, y que cualquier rechazo no dará lugar a ninguna responsabilidad o derecho de reembolso por nuestra parte hacia usted.</p>
          </li>
          <li>
            <p>4.2 Tiene derecho a enviar un número ilimitado de solicitudes a los destinatarios de su elección mientras dure su contrato.</p>
          </li>
          <li class="grid grid-cols-1 gap-6">
            <p>4.3 No puede:</p>
            <ul class="list-disc ml-10 text-lg grid grid-cols-1 gap-y-5">
              <li>Utilizar el Sitio de forma ilícita o contraria a estas Condiciones para vender, copiar, alquilar, arrendar, prestar, distribuir, transferir o conceder licencias de cualquier material del Sitio o de Nuestro Servicio, o utilizar Nuestro Servicio con fines comerciales para intentar obtener acceso no autorizado a Nuestros sistemas o a los sistemas de Nuestros subcontratistas, o participar en cualquier acción que interrumpa, degrade o interfiera en la operación o el funcionamiento de Nuestro Sitio y Nuestro Servicio.</li>
              <li>Hacer un mal uso del Sitio enviando intencionadamente un virus u otra aplicación dañina. Utilizar nuestro Servicio con fines de spam. Denigrar nuestras operaciones o participar en cualquier conducta que pueda dañar nuestra reputación, ya sea en Nuestro Servicio o en cualquier otro lugar (por ejemplo, en las redes sociales).</li>
            </ul>
          </li>
      </ol>
    </div>
    <div  class="grid grid-cols-1 gap-y-7">
      <h2 class="text-4xl/6 font-bold text-gray-900 dark:text-white mt-5 mb-5">5. Terminación</h2>
      <ol class="w-full space-y-7 list-none text-gray-500 list-inside [&>li>p]:text-lg  [&>li>p]:text-gray-500 [&>li>p]:whitespace-normal">
          <li class="grid grid-cols-1 gap-6">
            <p>5.1 Rescisión a petición del Cliente. Usted podrá darse de baja y rescindir Su Contrato en cualquier momento haciendo clic en el enlace "Darse de baja" del menú situado en la parte superior o inferior de la página del sitio web, quedando especificado que Su baja surtirá efecto al final del Periodo de prueba, es decir, al final del año en curso en el que se realizó su solicitud de baja, en cuyo caso se desactivará Su Cuenta y se pondrá fin al acceso y uso de Nuestro Servicio. Sin perjuicio de lo dispuesto en la cláusula 3.3, no habrá reembolso.</p>
            <p>No habrá reembolso.</p>
          </li>
          <li>
            <p>5.2 Por iniciativa de MARKETING GLOBAL, el contrato queda resuelto. También podemos rescindir su contrato al final de un mes, en cuyo caso le enviaremos un correo electrónico a la dirección que nos facilitó al registrarse. En caso de incumplimiento de estos términos y condiciones, incluyendo pero no limitándose a la cláusula 4.3, nos reservamos el derecho a suspender su cuenta mientras llevamos a cabo las comprobaciones necesarias y, si procede, a rescindir su contrato con efecto inmediato; tanto si se trata de una suspensión como de una rescisión, se le informará mediante un correo electrónico enviado a la misma dirección.</p>
          </li>
          <li>
            <p>5.3 La rescisión de conformidad con este artículo no le da derecho a una devolución, si dicha rescisión equivale al ejercicio por su parte de un derecho de desistimiento de conformidad con los apartados 3.1 y 3.3.</p>
          </li>
      </ol>
    </div>
    <div  class="grid grid-cols-1 gap-y-7">
      <h2 class="text-4xl/6 font-bold text-gray-900 dark:text-white mt-5 mb-5">6. Propiedad intelectual</h2>
      <ol class="w-full space-y-7 list-none text-gray-500 list-inside [&>li>p]:text-lg  [&>li>p]:text-gray-500 [&>li>p]:whitespace-normal">
          <li>
            <p>6.1 MARKETING GLOBAL posee todos los derechos de propiedad intelectual de nuestro sitio web y su contenido, incluidos los conocimientos técnicos asociados.</p>
          </li>
          <li class="grid grid-cols-1 gap-6">
            <p>6.2 Le proporcionamos el derecho no exclusivo e intransferible de acceder y utilizar nuestros servicios mediante la celebración de este contrato.</p>
            <p>Se trata de un derecho de propiedad intelectual.</p>
          </li>
      </ol>
    </div>
    <div  class="grid grid-cols-1 gap-y-7">
      <h2 class="text-4xl/6 font-bold text-gray-900 dark:text-white mt-5 mb-5">7. Obligación y garantía</h2>
      <ol class="w-full space-y-7 list-none text-gray-500 list-inside [&>li>p]:text-lg  [&>li>p]:text-gray-500 [&>li>p]:whitespace-normal">
          <li class="grid grid-cols-1 gap-6">
            <p>7.1 En la máxima medida permitida por la legislación aplicable, MARKETING GLOBAL renuncia a cualquier obligación derivada de Nuestra ejecución del contrato.</p>
            <p>Se trata de una obligación de resultado.</p>
          </li>
          <li class="grid grid-cols-1 gap-6">
            <p>7.2 No obstante lo dispuesto en la cláusula 7.1, MARKETING GLOBAL hará todo lo razonablemente posible para garantizar que el servicio esté disponible 24 horas al día, siete días a la semana. No obstante, MARKETING GLOBAL no se hace responsable de las indisponibilidades debidas a errores, limitaciones técnicas u otras operaciones de mantenimiento, que no darán derecho a reembolso alguno.</p>
            <p>No hay derecho a devolución.</p>
          </li>
          <li>
            <p>7.3 El Sitio puede incluir enlaces a otros sitios que no son mantenidos ni controlados por MARKETING GLOBAL, y de cuya funcionalidad y contenido no nos hacemos responsables en modo alguno.</p>
          </li>
      </ol>
    </div>
    <div  class="grid grid-cols-1 gap-y-7">
      <h2 class="text-4xl/6 font-bold text-gray-900 dark:text-white mt-5 mb-5">8. Varios</h2>
      <ol class="w-full space-y-7 list-none text-gray-500 list-inside [&>li>p]:text-lg  [&>li>p]:text-gray-500 [&>li>p]:whitespace-normal">
          <li>
            <p>8.1 CASO DE FUERZA MAYOR Las partes acuerdan que, en caso de que la ejecución del Contrato resulte imposible debido a un caso de fuerza mayor, es decir, un acontecimiento imprevisible y ajeno a la voluntad de una o varias de las partes, ninguna de las partes podrá ser considerada responsable del incumplimiento, fallos o retrasos en la ejecución de cualquiera de sus obligaciones debido a la ocurrencia de dicho caso. La ejecución del Contrato y las obligaciones que lo acompañan, incluido el pago, quedarán por tanto paralizadas mientras dure el caso de fuerza mayor, reteniéndose el pago efectuado correspondiente al mes en el que se produjo el caso de fuerza mayor. No obstante, cada parte tendrá la posibilidad de utilizar la cláusula de rescisión del artículo 5.</p>
          </li>
          <li class="grid grid-cols-1 gap-6">
            <p>8.2 NULIDAD. Si una cláusula de estas condiciones generales se considera nula, esta nulidad no afectará a la legalidad de las demás disposiciones. La disposición inválida será sustituida e interpretada de forma que se garantice su legalidad por una disposición lo más parecida posible en su espíritu a la disposición inválida.</p>
            <p>La disposición inválida será sustituida por una disposición lo más similar posible en cuanto a su espíritu.</p>
          </li>
          <li>
            <p>8.3 COMUNICACIONES. Toda la correspondencia dirigida a MARKETING GLOBAL deberá enviarse a contact&#64;quickgeo.mobi</p>
          </li>
          <li>
            <p>8.4 LEY APLICABLE Y JURISDICCIÓN. El contrato y estos términos y condiciones se regirán por la legislación inglesa en cuanto a su aplicabilidad y ejecución. Cualquier controversia derivada directa o indirectamente de las presentes Condiciones y del Contrato resultante se someterá al Tribunal competente del lugar de residencia del Cliente cuando MARKETING GLOBAL sea el demandante, y al Tribunal de Londres cuando el Cliente sea el demandante.</p>
          </li>
      </ol>
    </div>
   </div>
  <app-locate-card />
  <app-footer/>
</div>
