<section id="hero">
    <article class='w-full rounded-[2.3rem] px-4 pt-4 bg-indigox imagenFondo lg:px-3 lg:grid xl:px-8 lg:grid-cols-2 lg:pb-14 xl:py-0'>
      <div class="text-center flex flex-col mt-10 lg:justify-start lg:relative lg:top-[16%]">
        <h1 class="text-[40px] md:text-6xl mb-10 leading-tight lg:text-6xl lg:text-start lg:mb-4">
          {{'portada.titulo' | translate}}
        </h1>
        <div class="lg:mt-10">
          <app-select-country  />
        </div>
      </div>
      <div class="mt-32 lg:pl-7">
        <img src="assets/img/Telefono.webp" class="w-full" alt="imagen telefono">
      </div>
    </article>
    <article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-5 gap-7"> 
      @for (card of 'portada.cards' | translate ; track $index) {
        <div class="bg-indigox  flex flex-col items-center px-7 py-11 rounded-[2.3rem] gap-3 text-center">
          <img src="assets/icons/{{card.png}}" class="h-20" alt="icono mundo">
          <h4 class="text-[34px] leading-tight">{{card.titulo}}</h4>
          <p class="font-normal text-basex text-lg">{{card.parrafo}}</p>
        </div>
      }
    </article>

    <article class="bg-indigox flex flex-col items-center px-5 pt-9 pb-1 md:px-24 md:pb-10 md:pt-20 rounded-[2.3rem]">
      <div class="w-full text-center grid gap-5 pb-10">
        <h3 class="text-[45px] leading-tight">{{'portada.screenLocalizar.titulo' | translate}}</h3>
        <p class="font-normal text-basex">{{'portada.screenLocalizar.parrafo' | translate}}</p>
      </div>
      <div class="w-full">
        <img src="assets/img/screens-map.webp" alt="imagen telefono screen">
      </div>
    </article>
  </section>
