<!-- component -->
<button (click)="showChat()"
    [class]="showBot ? 'opacity-0 scale-90 pointer-events-none' : 'opacity-100 scale-100'"
    class="transition-all duration-300 ease-in-out fixed bottom-4 right-4 inline-flex items-center justify-center text-sm font-medium disabled:pointer-events-none disabled:opacity-50 border rounded-full w-16 h-16 bg-green-700 hover:bg-green-800 m-0 cursor-pointer border-gray-200 bg-none p-0 normal-case leading-5 hover:text-gray-900"
    type="button" aria-haspopup="dialog" aria-expanded="false" data-state="closed">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" class="size-10 -scale-x-100">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z" />
    </svg>
</button>


<div
    [class]="showBot ? 'opacity-100 translate-y-0 scale-100' : 'opacity-0 translate-y-4 scale-95 pointer-events-none'"
    class="transition-all opacity-0 duration-300 ease-out transform fixed z-50 bottom-0 sm:bottom-[calc(1rem+0.2rem)] right-0 sm:mr-4 bg-white shadow-md shadow-green-200/80 p-6 sm:rounded-lg border border-[#e5e7eb] w-screen h-screen sm:w-[420px] sm:h-[634px]">
    <!-- Heading -->
    <div class="flex flex-col h-[10%] space-y-1.5 pb-6 relative">
      <h2 class="font-semibold text-lg tracking-tight">{{'routes.contact.bot.title'| translate }}</h2>
      <p class="text-sm text-[#6b7280] leading-3">{{'routes.contact.bot.subtitle'| translate }}</p>
      <button (click)="showChat()" type="button" class="absolute text-gray-600 right-0 top-0 h-7 w-7 rounded-full  grid place-content-center hover:scale-105">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
      </button>

    </div>




    <!-- Chat Container -->
    <div #scrollContainer class="pr-4 mb-2 h-[80%] overflow-y-scroll overflow-x-hidden scrollbar-none">
      @for (chats of chatMessages; track $index) {
        @if(chats.bot){
          <!-- Chat Message AI -->
          <div class="flex gap-3 my-4 text-gray-600 text-sm flex-1">
            <span class="relative flex shrink-0 overflow-hidden rounded-full w-8 h-8">
              <div class="rounded-full bg-gray-100 border p-1">
                <svg stroke="none" fill="green" stroke-width="1.5" viewBox="0 0 24 24" aria-hidden="true" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z"></path>
                </svg>
              </div>
            </span>
            <p class="leading-relaxed">
            <span class="block font-bold text-gray-700">{{'routes.contact.bot.nameBot'| translate }} </span>{{chats.text}}
          </p>
          </div>
        }@else {
          <!--  User Chat Message -->
          <div class="flex gap-3 my-4 text-gray-600 text-sm flex-1">
            <span class="relative flex shrink-0 overflow-hidden rounded-full w-8 h-8">
              <div class="rounded-full bg-gray-100 border p-1">
                <svg stroke="none" fill="black" stroke-width="0" viewBox="0 0 16 16" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z">
                  </path>
                </svg>
              </div>
            </span>
          <p class="leading-relaxed"><span class="block font-bold text-gray-700">{{'routes.contact.bot.nameUser'| translate }} </span>{{chats.text}}</p>
          </div>
        }
      }
      @if(loadBot){
        <!-- Chat Message AI -->
        <div class="flex gap-3 my-4 text-gray-600 text-sm flex-1 w-full">
          <span class="relative flex shrink-0 overflow-hidden rounded-full w-8 h-8">
            <div class="rounded-full bg-gray-200 border p-1">
              <svg stroke="none" fill="green" stroke-width="1.5" viewBox="0 0 24 24" aria-hidden="true" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z"></path>
              </svg>
            </div>
          </span>
          <div class="w-full animate-pulse ease-in-out">
            <div class="w-[30%] h-5 mt-1 mb-2 bg-gray-100 rounded-md"></div>
            <div class="w-[70%] h-4 my-2 bg-gray-100 rounded-md"></div>
          </div>

        </div>
      }
    </div>
    <!-- Input box  -->
    <div class="h-[8%] flex items-center pt-0">
      <form (submit)="sendMessage()" name="chatInput"
       class="flex items-center justify-center w-full space-x-2">
        <input  [(ngModel)]="message" [ngModelOptions]="{standalone: true}"
          class="flex h-10 w-full rounded-md border border-green-200 focus:border-none focus:outline focus:outline-2 focus:outline-green-400 px-3 py-2 text-sm placeholder-green-700/30 disabled:cursor-not-allowed disabled:opacity-50 text-[#030712]"
          placeholder="Type your message" value="">
        <button type="submit"
          class="inline-flex items-center justify-center rounded-md text-sm font-medium text-[#f9fafb] disabled:pointer-events-none disabled:opacity-50 bg-green-700 hover:bg-green-800 h-10 px-4 py-2">
          Send</button>
      </form>
    </div>

  </div>
