<div class="max-w-screen-xl mx-auto">
  <article class='w-full pt-36 relative rounded-b-[2.3rem] px-6 py-20 gap-5 grid grid-cols-1 lg:px-3 xl:px-8 items-center'>
    <img src="assets/icons/Map.svg" class="absolute object-cover drop-shadow-sm inset-0 -z-10 size-full [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)] stroke-gray-200" alt="">
     <div class="w-full text-center px-4 md:px-12">
        <h2 class="text-[40px] font-bold text-center md:text-6xl leading-tight lg:text-6xl lg:mb-4">
          Menciones legales
        </h2>
     </div>
  </article>
  <div class="w-10/12 m-auto font-normal grid grid-cols-1 gap-y-7 py-14">
    <p class="text-lg  text-gray-500 whitespace-normal ">
      MARKETING GLOBAL
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      Página web: <a href="https://quickgeo.netlify.app/" target="_blank">quickgeo.netlify.app</a>
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      Correo electrónico: contact&#64;quickgeo.mobi
    </p>
    <div  class="grid grid-cols-1 gap-y-7">
      <h2 class="text-4xl/6 font-bold text-gray-900 dark:text-white mt-5 mb-5">1. Información jurídica</h2>
      <ol class="w-full space-y-7 list-none text-gray-500 list-inside [&>li>p]:text-lg  [&>li>p]:text-gray-500 [&>li>p]:whitespace-normal">
          <li>
            <p>En este sitio web se utilizan cookies. Las cookies son pequeños archivos de texto que se almacenan temporal o permanentemente en su ordenador cuando visita un sitio web. Las cookies se utilizan para evaluar cómo interactúan los usuarios con el sitio, lo que permite realizar análisis estadísticos y un desarrollo continuo.</p>
          </li>
      </ol>
    </div>
    <div  class="grid grid-cols-1 gap-y-7">
      <h2 class="text-4xl/6 font-bold text-gray-900 dark:text-white mt-5 mb-5">2. Cookies desactivadas</h2>
      <ol class="w-full space-y-7 list-none text-gray-500 list-inside [&>li>p]:text-lg  [&>li>p]:text-gray-500 [&>li>p]:whitespace-normal">
        <li>
          <p>Las cookies pueden desactivarse, parcial o totalmente, en cualquier momento en la configuración de su navegador web. Algunas secciones de este sitio pueden dejar de estar disponibles si se desactivan las cookies.</p>
        </li>
      </ol>
    </div>
   </div>
  <app-locate-card />
  <app-footer/>
</div>
