<div class="relative isolate bg-white pt-24 pb-32 sm:pt-32">
  <svg class="absolute drop-shadow-sm inset-0 -z-10 size-full [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)] stroke-gray-200"  aria-hidden="true">
    <defs>
      <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M100 200V.5M.5 .5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="drop-shadow-xl  overflow-visible fill-green-100/80">
      <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)" />
  </svg>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h3 class="mt-2 text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">{{'testimonials.title' | translate }}</h3>
    </div>
    <div #cardsContainer class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm/6 text-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
      @for(card of 'testimonials.people' | translate ; track $index){
        @if($index==0){
          <figure [class]="animation?'scale-100 opacity-100':'scale-75 opacity-0'" class="transform transition-all duration-500 delay-200 ease-out rounded-2xl bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1">
            <blockquote class="p-6 text-lg font-semibold tracking-tight text-gray-900 sm:p-12 sm:text-xl/8">
              <p>“{{card.story}}”</p>
            </blockquote>
            <figcaption class="flex flex-wrap items-center gap-x-4 gap-y-4 border-t border-gray-900/10 px-6 py-4 sm:flex-nowrap">
              <img class="size-10 flex-none rounded-full bg-gray-50" src='assets/img/{{card.png}}' alt="">
              <div class="flex-auto">
                <div class="font-semibold">{{card.name}}</div>
                <div class="text-gray-600">{{card.span}}</div>
              </div>
              <img class="h-10 w-auto flex-none" src='assets/icons/icon.svg' alt="">
            </figcaption>
          </figure>
        }
      }

      <div class="space-y-8 xl:contents xl:space-y-0">
        <div class="space-y-8 xl:row-span-2">
          @for(card of 'testimonials.people' | translate ; track $index){
            @if($index==1){
            <figure [class]="animation?'scale-100 opacity-100':'scale-75 opacity-0'" class="transform transition-all duration-500 delay-300 ease-out rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
              <blockquote class="text-gray-900 font-semibold">
                <p>“{{card.story}}”</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="size-10 rounded-full bg-gray-50" src='assets/img/{{card.png}}' alt="">
                <div>
                  <div class="font-semibold">{{card.name}}</div>
                <div class="text-gray-600">{{card.span}}</div>
                </div>
              </figcaption>
            </figure>
            }
          }

          <!-- More testimonials... -->
        </div>
        <div class="space-y-8 xl:row-start-1">
          @for(card of 'testimonials.people' | translate ; track $index){
            @if($index==2){
              <figure [class]="animation?'scale-100 opacity-100':'scale-75 opacity-0'" class="transform transition-all duration-500 delay-[400ms] ease-out rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                <blockquote class="text-gray-900 font-semibold">
                  <p>“{{card.story}}”</p>
                </blockquote>
                <figcaption class="mt-6 flex items-center gap-x-4">
                  <img class="size-10 rounded-full bg-gray-50" src='assets/img/{{card.png}}' alt="">
                  <div>
                    <div class="font-semibold">{{card.name}}</div>
                    <div class="text-gray-600">{{card.span}}</div>
                  </div>
                </figcaption>
              </figure>
            }
          }
          <!-- More testimonials... -->
        </div>
      </div>
      <div class="space-y-8 xl:contents xl:space-y-0">
        <div class="space-y-8 xl:row-start-1">
          @for(card of 'testimonials.people' | translate ; track $index){
            @if($index==3){
              <figure [class]="animation?'scale-100 opacity-100':'scale-75 opacity-0'" class="transform transition-all duration-500 delay-[500ms] ease-out rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                <blockquote class="text-gray-900 font-semibold">
                  <p>“{{card.story}}”</p>
                </blockquote>
                <figcaption class="mt-6 flex items-center gap-x-4">
                  <img class="size-10 rounded-full bg-gray-50" src='assets/img/{{card.png}}' alt="">
                  <div>
                    <div class="font-semibold">{{card.name}}</div>
                    <div class="text-gray-600">{{card.span}}</div>
                  </div>
                </figcaption>
              </figure>
            }
          }
          <!-- More testimonials... -->
        </div>
        <div class="space-y-8 xl:row-span-2">
          @for(card of 'testimonials.people' | translate ; track $index){
            @if($index==4){
              <figure [class]="animation?'scale-100 opacity-100':'scale-75 opacity-0'" class="transform transition-all duration-500 delay-[600ms] ease-out rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                <blockquote class="text-gray-900 font-semibold">
                  <p>“{{card.story}}”</p>
                </blockquote>
                <figcaption class="mt-6 flex items-center gap-x-4">
                  <img class="size-10 rounded-full bg-gray-50" src='assets/img/{{card.png}}' alt="">
                  <div>
                    <div class="font-semibold">{{card.name}}</div>
                    <div class="text-gray-600">{{card.span}}</div>
                  </div>
                </figcaption>
              </figure>
            }
          }
          <!-- More testimonials... -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gradient-to-b from-white via-green-100 to-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="text-center">
          <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">{{'testimonials.title2' | translate }}</h2>
          <p class="mt-4 text-lg/8 font-normal text-gray-600">{{'testimonials.subtitle' | translate }}</p>
        </div>
        <dl class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">

          <div class="flex flex-col bg-gray-400/5 p-8 backdrop-blur-lg">
            <dt class="text-sm/6 font-semibold text-gray-600">{{'testimonials.usersActive' | translate }}</dt>

            <dd  class="order-first text-3xl font-semibold tracking-tight text-gray-900"><span [appCountUp]="8000">0</span>+</dd>
          </div>
          <div class="flex flex-col bg-gray-400/5 p-8 backdrop-blur-lg">
            <dt class="text-sm/6 font-semibold text-gray-600">{{'testimonials.monthlyUsers' | translate }}</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900"><span [appCountUp]="200">0</span>+</dd>
          </div>
          <div class="flex flex-col bg-gray-400/5 p-8 backdrop-blur-lg">
            <dt class="text-sm/6 font-semibold text-gray-600">{{'testimonials.efectivity' | translate }}</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900"><span [appCountUp]="98">0</span>%</dd>
          </div>
          <div class="flex flex-col bg-gray-400/5 p-8 backdrop-blur-lg">
            <dt class="text-sm/6 font-semibold text-gray-600">{{'testimonials.devices' | translate }}</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900"><span [appCountUp]="15000">0</span>+</dd>
          </div>
        </dl>
      </div>
    </div>
</div>
