<div class="max-w-screen-2xl mx-auto">
  <div class="h-full w-full flex flex-col mx-auto md:flex-row">
    <article class="bg-white w-full flex flex-col justify-between h-screen sm:px-16 py-8 px-5">
        <div class="justify-between navbar-start lg:justify-start">
          <a [routerLink]="['/']" class="-m-1.5 p-1.5 flex">
            <img class="h-8 w-auto" src="assets/icons/icon.svg" alt="">
            <p class="pl-2 text-gray-700">Quick<span class="text-green-800">Geo</span></p>
          </a>
        </div>
        <div [class]="recoveryPassword?'hidden':'block'" class="text-center">
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="py-10 px-10 flex flex-col gap-5 border-b-2 border-gray-50">
                <h2 class="text-center text-4xl mb-5">{{'routes.login.title'| translate }}</h2>
                <div class="flex flex-col gap-2 text-start">
                    <span class="text-sm font-semibold pl-2">{{'routes.login.label'| translate }}</span>
                    <div class="border-2 rounded-full hover:shadow-sm flex gap-2 items-center py-2 px-3">
                        <div class="h-5 w-5">
                            <img src="assets/icons/input-email.png" class="w-full h-full" alt="">
                        </div>
                        <input formControlName="email" type="text" placeholder="{{'routes.login.placeholder'| translate }}" class="w-full placeholder:font-normal outline-none font-semibold text-base">
                    </div>
                </div>
                <div class="flex flex-col gap-2 text-start">
                    <span class="text-sm font-semibold pl-2">{{'routes.login.label2'| translate }}</span>
                    <div class="border-2 rounded-full hover:shadow-sm flex gap-2 items-center py-2 px-3">
                        <input formControlName="password" [type]="password?'text':'password'" placeholder="{{'routes.login.label2'| translate }}" class="w-full placeholder:font-normal outline-none font-semibold text-base" type="password">
                        <button type="button" (click)="showPassword()"><i class='bx bx-low-vision'></i></button>
                    </div>
                </div>
                <button type="submit" class="w-full mt-5 shadow-lg text-white bg-green600 hover:bg-green700 rounded-full px-5 py-2.5 lg:m-0 lg:px-3">

                  <div  role="status" class="text-center font-semibold flex items-center justify-center gap-1">
                    <div [class]="buttonLogin?'hidden':''">
                      <svg aria-hidden="true" class="w-5 h-5 text-gray-200 animate-spin" viewBox="0 0 100 101"  xmlns="http://www.w3.org/2000/svg">
                          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                      </svg>
                    </div>
                    <p class="text-base">{{'routes.login.title'| translate }}</p>
                  </div>
                </button>
                @if ((formLogin.get("email")?.hasError("incorrect")||(formLogin.get("email")?.touched && formLogin.get("email")?.hasError("required")))||
                    (formLogin.get("email")?.hasError("incorrect")||(formLogin.get("password")?.touched && formLogin.get("password")?.hasError("required")))) {
                    <div class="w-full flex flex-col flex-wrap items-center justify-center gap-2 mt-4 sm:flex-row">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 16 17" fill="none">
                        <path d="M8 6.82341V9.15674M8 2.15674L1.5 13.1567H14.5L8 2.15674Z" stroke="#F04438" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <ellipse cx="8.00001" cy="10.8234" rx="0.666667" ry="0.666667" fill="#F04438"></ellipse>
                      </svg>
                      <span class="inline-block text-center font-normal text-sm">Algunos campos son requeridos, por favor validar.</span>
                    </div>
                  }@if(formLogin.get("email")?.hasError("fail") || formLogin.get("password")?.hasError("fail")){
                    <div class="w-full flex flex-col flex-wrap items-center justify-center gap-2 mt-4 sm:flex-row">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 16 17" fill="none">
                        <path d="M8 6.82341V9.15674M8 2.15674L1.5 13.1567H14.5L8 2.15674Z" stroke="#F04438" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <ellipse cx="8.00001" cy="10.8234" rx="0.666667" ry="0.666667" fill="#F04438"></ellipse>
                      </svg>
                      <span class="inline-block text-center font-normal text-sm">Ocurrió un error, contactar al administrador</span>
                    </div>
                  }
            </form>
            <button (click)="showPassword()" class="font-normal w-fit mt-5 text-sm underline text-center inline-block">{{'routes.login.textSpan'| translate }}</button>
        </div>
        <div [class]="recoveryPassword?'block':'hidden'" class="text-center">
          <div class="py-10 px-5 flex flex-col gap-5 border-b-2 border-gray-50">
              <h2 class="text-center text-4xl mb-5">Olvidé mi contraseña</h2>
              <div class="flex flex-col gap-2 text-start">
                  <span class="text-sm font-semibold pl-2">{{'routes.login.label'| translate }}</span>
                  <div class="border-2 rounded-full hover:shadow-sm flex gap-2 items-center py-2 px-3">
                      <div class="h-5 w-5">
                          <img src="assets/icons/input-email.png" class="w-full h-full" alt="">
                      </div>
                      <input placeholder="{{'routes.login.placeholder'| translate }}" class="w-full placeholder:font-normal outline-none font-semibold text-base" type="text">
                  </div>
              </div>
              <button class="w-full mt-5 shadow-lg text-white bg-green600 hover:bg-indigo-700 rounded-full px-5 py-2.5 lg:m-0 lg:px-3">
                  <div  role="status" class="text-center font-semibold flex items-center justify-center gap-1">
                    <p class="text-base">Enviar contraseña</p>
                  </div>
              </button>
          </div>
          <button (click)="showPassword()" class="font-normal w-fit mt-5 text-sm underline text-center inline-block">Iniciar Sesión</button>
      </div>
        <div class="w-full text-center pt-10">
            <span class="text-sm font-normal">© 2024 Luis Velasco. {{'footer.terms.rights'| translate }}</span>
        </div>
    </article>
    <article class="hidden md:flex relative isolate  w-full md:h-screen imagenFondo px-5 sm:px-16 py-8  justify-center items-center">
      <img src="assets/icons/Map.svg" class="absolute drop-shadow-sm object-cover inset-0 -z-10 size-full [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)] stroke-gray-200" alt="">
      <h2 class="text-4xl text-center bg-gradient-to-r from-green-700 via-green-300 to-indigo-600 inline-block text-transparent bg-clip-text">¡Descubre la mejor forma de rastrear tus dispositivos ahora mismo!</h2>
    </article>
  </div>
</div>
