 <main class="max-w-screen-xl mx-auto px-4">
  @if(showHeader){
    <app-header />
  }
  <router-outlet/> 
</main>  
  <!-- <app-home [_countries]="_countries" [_urlFlagBase]="urlFlagBase" [_flag]="flag" [_codePhone]="codePhone"/> -->
  <!-- <app-pricing [_countries]="_countries" [_urlFlagBase]="urlFlagBase" [_flag]="flag" [_codePhone]="codePhone"/> -->
  <!-- <app-requently-asked-questions [_countries]="_countries" [_urlFlagBase]="urlFlagBase" [_flag]="flag" [_codePhone]="codePhone"/> -->
  <!-- <app-contact [_countries]="_countries" [_urlFlagBase]="urlFlagBase" [_flag]="flag" [_codePhone]="codePhone"/> -->
   
  <!-- <app-login/> -->
  