<main class="max-w-screen-xl mx-auto px-4">
  <header>
    <nav class="mb-4 bg-white border-gray-200 lg:flex lg:justify-around lg:m-0 lg:p-4 m-auto">
      <div class="flex flex-wrap items-center justify-between py-4 lg:p-0 xl:flex-grow">
        <!-- Logo -->
        <div class="justify-between navbar-start lg:justify-start">
          <img src="Logo.png" class="h-6" alt="Logo" />
        </div>

        <!-- localiza -->
        <a href="#" [class]="menu?'hidden':'block'" class="text-purpura lg:hidden">Localizar teléfono</a>

        <!-- menu hamburguesa -->
        <button data-collapse-toggle="navbar-default" type="button" (click)="menuActivate()"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg lg:hidden hover:bg-gray-100"
          aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>
      </div>

      <div [class]="menu?'block':'hidden'" class="px-7 py-2 flex lg:flex lg:items-center lg:p-0">
        <div
          class="flex flex-col p-5 text-center w-full rounded-3xl text-basex font-medium bg-indigo-50 gap-6 xl:gap-7 xl:after:content-['|'] lg:flex-row lg:p-0 lg:bg-transparent">
          <a href="">¿Cómo funciona?</a>
          <a href="">Preguntas frecuentes</a>
          <a href="">Precio</a>
          <a href="">Contacto</a>
        </div>

      </div>

      <div [class]="menu?'block':'hidden'" class="px-7 py-2 lg:p-0 xl:pl-5 lg:block">
        <div
          class="flex flex-col mt-3 p-5 text-center w-full rounded-3xl text-basex font-bold bg-indigo-50 gap-6 xl:gap-5 lg:mt-0 lg:flex-row lg:p-0 lg:items-center lg:bg-transparent">
          <a href="" class="flex justify-center text-purpura">
            <i class='bx bx-user text-xl'></i>
            <p class="pl-3 mt-1">Iniciar sesión</p>
          </a>
          <button [class]="menu?'animateBouce':''" type="button"
            class="text-white bg-purpura shadow-lg hover:bg-indigo-400 rounded-full px-5 py-2.5 text-center lg:bg-white lg:text-purpura lg:border-2 lg:border-purpura">Localizar
            teléfono</button>
        </div>
      </div>
    </nav>
  </header>
  <section>
    <article class='hero w-full rounded-3xl px-4 pt-4 bg-indigox imagenFondo lg:px-3 lg:grid xl:px-8 lg:grid-cols-2 lg:pb-14 xl:py-0'>
      <div class="text-center flex flex-col mt-10 lg:justify-start lg:relative lg:top-[16%]">
        <h1 class="text-[40px] md:text-6xl leading-tight lg:text-6xl lg:text-start">
          Localiza cualquier teléfono, en cualquier lugar, en cualquier momento
        </h1>

        <div class="flex flex-col lg:flex-row lg:border lg:rounded-full lg:border-gray-300 lg:items-center lg:bg-white lg:mt-10 lg:px-3 lg:py-2">
          <div class="flex items-center w-full rounded-3xl border border-gray-300 lg:border-none bg-white mt-10 lg:mt-0">
            <span class="relative top-0 pr-3">
              <button id="states-button" (click)="selectShow()"
                class="text-lg font-bold flex-shrink-0 flex items-center py-2.5 px-4 text-center"
                type="button">
                <div class="h-7 w-7 rounded-full bg-[url('https://flagcdn.com/us.svg')] bg-cover bg-center bg-no-repeat">
                </div>
                <p class="pl-2">+1</p>   
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4" />
                </svg>
              </button>
              <div id="dropdown-states" [class]="select?'block':'hidden'" class="z-10 absolute top-16 bg-white divide-y divide-gray-100 rounded-lg shadow w-80 h-44 overflow-auto">
                <ul class="py-2 text-sm" aria-labelledby="states-button">
                  <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 text-sm hover:bg-gray-100">
                      <div class="inline-flex items-center">
                        <div>
                          <div
                            class="h-7 w-7 rounded-full bg-[url('https://flagcdn.com/us.svg')] bg-cover bg-center bg-no-repeat">
                          </div>
                        </div>
                        <p class="pl-2 text-start">+1 United States</p>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 text-sm hover:bg-gray-100">
                      <div class="inline-flex items-center">
                        <div>
                          <div
                            class="h-7 w-7 rounded-full bg-[url('https://flagcdn.com/de.svg')] bg-cover bg-center bg-no-repeat">
                          </div>
                        </div>

                        <p class="pl-2 text-start">+2 Germany</p>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 text-sm hover:bg-gray-100">
                      <div class="inline-flex items-center">
                        <div>
                          <div
                            class="h-7 w-7 rounded-full bg-[url('https://flagcdn.com/co.svg')] bg-cover bg-center bg-no-repeat">
                          </div>
                        </div>
                        <p class="pl-2 text-start">+57 Colombia</p>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 text-sm hover:bg-gray-100">
                      <div class="inline-flex items-center">
                        <div>
                          <div
                            class="h-7 w-7 rounded-full bg-[url('https://flagcdn.com/br.svg')] bg-cover bg-center bg-no-repeat">
                          </div>
                        </div>
                        <p class="pl-2 text-start">+55 Brasil</p>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 text-sm hover:bg-gray-100">
                      <div class="inline-flex items-center">
                        <div>
                          <div
                            class="h-7 w-7 rounded-full bg-[url('https://flagcdn.com/io.svg')] bg-cover bg-center bg-no-repeat">
                          </div>
                        </div>
                        <p class="pl-2 text-start">+246 British Indian Ocean Territory</p>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 text-sm hover:bg-gray-100">
                      <div class="inline-flex items-center">
                        <div>
                          <div
                            class="h-7 w-7 rounded-full bg-[url('https://flagcdn.com/ve.svg')] bg-cover bg-center bg-no-repeat">

                          </div>
                        </div>
                        <p class="pl-2 text-start">+58 Venezuela, Bolivarian Republic of Venezuela</p>
                      </div>
                    </button>
                  </li>
                </ul>
              </div>
              <!-- Select -->
            </span>
            <input type="text" class="h-16 w-full border-0 outline-none rounded-full text-xl font-normal lg:h-14" placeholder="Ingrese el número de teléfono">
          </div>
          <button class="w-full font-semibold mt-5 shadow-lg text-white bg-purpura hover:bg-indigo-400 rounded-full px-5 py-2.5 text-center lg:m-0 lg:w-60 lg:py-3 lg:px-3">Localizar teléfono</button>
        </div>
      </div>
      <div class="mt-32 lg:pl-7">
        <img src="Telefono.webp" class="w-full" alt="">
      </div>
    </article>
    <article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-5 gap-7">
      <div class="bg-indigox  flex flex-col items-center px-7 py-11 rounded-[2.3rem] gap-3 text-center">
        <img src="world.png" class="h-20" alt="">
        <h4 class="text-[34px] leading-tight">En cualquier lugar<br> del planeta</h4>
        <p class="font-normal text-basex text-lg">Y también funciona con cualquier <br> operador y teléfono móvil</p>
      </div>
      <div class="bg-indigox  flex flex-col items-center px-7 py-11 rounded-[2.3rem] gap-3 text-center">
        <img src="confidential.png" class="h-20" alt="">
        <h4 class="text-[34px] leading-tight">Puedes permanecer  <br>anónimo</h4>
        <p class="font-normal text-basex text-lg">El destinatario nunca sabrá que <br>proviene de ti</p>
      </div>
      <div class="bg-indigox  flex flex-col items-center px-7 py-11 rounded-[2.3rem] gap-3 text-center">
        <img src="accurate.png" class="h-20" alt="">
        <h4 class="text-[34px] leading-tight">Tan preciso como el GPS</h4>
        <p class="font-normal text-basex text-lg">Te mostraremos la ubicación <br>exacta en un mapa en línea</p>
      </div>
    </article>
    <article class="bg-indigox flex flex-col items-center px-7 py-11 rounded-[2.3rem]">

    </article>
  </section>
</main>