<div class="max-w-screen-xl mx-auto">
  <article class='w-full pt-36 relative rounded-b-[2.3rem] px-6 py-20 gap-5 grid grid-cols-1 lg:px-3 xl:px-8 items-center'>
    <img src="assets/icons/Map.svg" class="absolute object-cover drop-shadow-sm inset-0 -z-10 size-full [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)] stroke-gray-200" alt="">
     <div class="w-full text-center px-4 md:px-12">
        <h2 class="text-[40px] font-bold text-center md:text-6xl leading-tight lg:text-6xl lg:mb-4">
          Confidencialidad
        </h2>
     </div>
  </article>
  <div class="w-10/12 m-auto font-normal grid grid-cols-1 gap-y-7 py-14">
    <p class="text-lg  text-gray-500 whitespace-normal ">
      En su primera visita a nuestro Sitio, puede aparecer en la parte inferior de la pantalla un mensaje que explica cómo funcionan las cookies. El navegador recordará entonces que usted ha visto este mensaje y no lo mostrará en visitas posteriores gracias a una cookie que se ha instalado en su dispositivo.
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      Se registra información como la dirección IP del visitante, su ubicación geográfica, la fecha y hora de la visita, las páginas vistas, la secuencia de las páginas y el comportamiento a la hora de compartir en redes sociales. No examinamos los viajes individuales ni desanonimizamos los datos. No compartimos su información con terceros.
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      Las cookies utilizadas en nuestro sitio se eliminan automáticamente de su navegador transcurridos 90 días. Las cookies que aún no hayan caducado pueden eliminarse de su ordenador seleccionando la opción "eliminar/borrar cookies" en la configuración de su navegador. En su próxima visita, se le preguntará de nuevo si desea permitir las cookies.
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      Usted tiene la opción de aceptar o rechazar las cookies utilizadas con fines estadísticos en nuestro sitio. Utilizamos esta información para mejorar el sitio y el contenido que ofrecemos basándonos en la frecuencia con la que vuelven los usuarios y las páginas que más visitan.
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      El servidor de un sitio web recuerda algunos detalles básicos de su sesión mientras navega utilizando cookies. Esta información puede examinarse estadísticamente para que el sitio sea más útil con el tiempo. Esto es gestionado por Analytics by Google.
    </p>
    <p class="text-lg  text-gray-500 whitespace-normal ">
      Los usuarios dan su consentimiento al uso de estas cookies haciendo clic en la opción "Sí, acepto" o continuando la navegación por el sitio. Si elige "No, no acepto", no podemos prometerle que pueda utilizar nuestro sitio web.
    </p>
   </div>
  <app-locate-card />
  <app-footer/>
</div>
