/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply font-sans box-border font-medium text-base text-back800
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.animatePulse {
  animation: pulsex 3s infinite;
  opacity: 0.5;
}

@keyframes pulsex {
  0%{opacity: 0.5;}
  50%{opacity: 1;}
  100%{opacity: 0.5;}
}
