<div class="max-w-screen-xl mx-auto">
    <article class='w-full relative rounded-[2.3rem] p-4 md:px-16 md:py-28 gap-5 grid grid-cols-1 lg:items-center mb-5'>
      <img src="assets/icons/Map.svg" class="absolute drop-shadow-sm inset-0 -z-10 size-full [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)] stroke-gray-200" alt="">
      <div class="full">
            <form action="" class="p-6 md:p-14 rounded-3xl bg-white w-auto max-w-lg m-auto flex flex-col">
                <div class="px-3">
                    <h4 class="text-lg font-semibold text-green600">{{'routes.unsubscribe.span'| translate }}</h4>
                </div>
                <div class="mt-5 px-3">
                    <h3 class="text-3xl">{{'routes.unsubscribe.title'| translate }}</h3>
                    <p class="text-base font-normal text-start mt-2">{{'routes.unsubscribe.paragraph'| translate }}</p>
                </div>
                <div class="mt-5 px-3">
                    <div>
                        <label for="#email" class="text-sm font-semibold">{{'routes.unsubscribe.label'| translate }}</label>
                        <input  type="text" id="email" class="w-full border font-normal border-1 p-2 rounded-md px-3 outline-none" placeholder="{{'routes.unsubscribe.placeholder'| translate }}">
                    </div>
                    <div class="mt-4">
                        <button type="button" class="w-full p-2 rounded-sm text-center font-normal border border-1">{{'routes.unsubscribe.button'| translate }}</button>
                        <p class="leading-4 text-start text-xs font-light text-gray-700 py-1">{{'routes.unsubscribe.text'| translate }}</p>
                    </div>

                </div>
            </form>
        </div>
    </article>
    <app-locate-card />
    <app-footer/>
</div>
