<div class="max-w-screen-xl mx-auto">
    <article class='w-full rounded-[2.3rem] p-4 md:px-16 md:py-28 gap-5 grid grid-cols-1 bg-green100 imagenFondo  lg:items-center mb-5'>
        <div class="full">
            <form action="" class="p-6 md:p-14 rounded-3xl bg-white w-auto max-w-lg m-auto flex flex-col">
                <div class="px-3">
                    <h4 class="text-lg font-semibold text-green600">Lamentamos verte partir</h4>
                </div>
                <div class="mt-5 px-3">
                    <h3 class="text-3xl">Cancelar la suscripción</h3>
                    <p class="text-base font-normal text-start mt-2">Para darte de baja de nuestros servicios solo tienes que introducir la dirección de correo electrónico de tu cuenta en el campo que aparece a continuación y hacer clic en el botón «Darse de baja».</p>
                </div>
                <div class="mt-5 px-3">
                    <div>
                        <label for="#email" class="text-sm font-semibold">Tu correo electrónico</label>
                        <input  type="text" id="email" class="w-full border font-normal border-1 p-2 rounded-md px-3 outline-none" placeholder="email@example.com">
                    </div>
                    <div class="mt-4">
                        <button type="button" class="w-full p-2 rounded-sm text-center font-normal border border-1">Cancelar la suscripción</button>
                        <p class="leading-4 text-start text-xs font-light text-gray-700 py-1">Si has olvidado el correo electrónico de tu cuenta, envíanos un mensaje a la dirección contact&#64;fullgeo.mobi con los últimos 4 dígitos de tu tarjeta de crédito para darte de baja. Te responderemos en menos de 24 horas.</p>
                    </div>

                </div>
            </form>
        </div>
    </article>
    <app-locate-card />
    <app-footer/>
</div>
